<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ai.ftech.babyphoto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyPhoto"
        tools:targetApi="31">
        <activity
            android:name=".screen.ListImage.ListImageActivity"
            android:exported="false" />
        <activity
            android:name=".HomeTest"
            android:exported="false" />
        <activity
            android:name=".screen.album.PhotoFolderActivity"
            android:exported="false" />
        <activity
            android:name=".screen.album.CreateAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".screen.login.AccountLogin"
            android:exported="false" />
        <activity
            android:name=".screen.register.ActivityCreatePass"
            android:exported="false" />
        <activity
            android:name=".screen.register.ActivityEnterEmail"
            android:exported="false" />
        <activity
            android:name=".screen.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".screen.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>